/* styles.css */

body {
    color: #c3e26e;
    background-color: #331a34;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

a:link {
    color: #CCCC00;
}

a:visited {
    color: #000060;
}

a:hover {
    color: #AA0000;
}

#game {
    text-align: center;
    margin-top: 50px; /* Adjust top margin to center the game vertically */
}

#tableContainer {
    display: inline-block;
    text-align: left;
}

#controls {
    margin-top: 20px; /* Add some space between the table and controls */
}
